@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hospital</h1>
    <p class="lead">Hospital è un progetto il cui compito è quello di gestire l'intero gestionale di un ospedale</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aggiunta di nuovi operatori sanitari</h2>
        <p>
            Attraverso il menu di navigazione si potrà accedere nelle sezioni in cui si possono creare nuovi operatori, tra cui
            medici, chirurghi e infermieri.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gestione degli interventi e delle visite</h2>
        <p>Con il nostro applicativo sarà possibile creare un intervento o una nuova visita</p>
    </div>
    <div class="col-md-4">
        <h2>Gestione delle Cure</h2>
        <p>Ogni intervento o ogni visita può essere collegato ad un referto il quale a sua volta può essere collegato alle cure, 
        ogni cura infine sarà composta da diversi medicinali.</p>
    </div>
</div>